@import "tailwindcss";

:root {
  --border: 30 20% 70%;
  --input: 30 20% 90%;
  --ring: 25 40% 60%;
  --background: 40 20% 95%;
  --foreground: 20 00% 50%;
  --lightCream: #FAF0E6;
  --primary: 25 30% 70%;
  --primary-foreground: 25 40% 20%;
  --secondary: 40 20% 60%;
  --secondary-foreground: 40 30% 30%;
  --destructive: 0 40% 60%;
  --destructive-foreground: 0 40% 30%;
  --muted: 30 20% 85%;
  --muted-foreground: 25 30% 40%;
  --accent: 25 40% 60%;
  --accent-foreground: 25 40% 20%;
  --popover: 60 20% 90%;
  --popover-foreground: 25 40% 30%;
  --card: 30 10% 97%;
  --card-foreground: 25 40% 20%;
  --radius: 0.5rem;
}

body {
  background: hsl(37, 21%, 88%);
}

.timeline-years {
  font-family: var(--font-roboto), sans-serif !important;
}

.birthday-card-message {
  font-family: var(--font-roboto), sans-serif !important;
}

.timeline-slider {
  display: flex !important;
  opacity: 1 !important;
}

[class*="text-foreground"] {
  color: hsl(var(--foreground)) !important;
}